---
export interface Props {
    title?: string;
}

const { title = 'Habit Tracker' } = Astro.props as Props;
---

<nav class="navbar bg-secondary rounded-md text-black font-title">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl">{title}</a>
    </div>
    <div class="flex-none"></div>
</nav>
