---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import InputCard from '../components/InputCard';
import Divider from '../components/Divider.astro';
import CardList from '../components/CardList';
import type { Habit } from '../scripts/types';
import type { AppRouter } from '../../../backend/src/trpc/router';
import { createTRPCProxyClient, httpBatchLink } from '@trpc/client';

const client = createTRPCProxyClient<AppRouter>({
    links: [
        httpBatchLink({
            url: 'http://192.168.1.178:5050/trpc',
        }),
    ],
});

const data: Habit[] = await client.getHabits.query();
---

<DefaultLayout>
    <section
        id="addNew"
        class="w-full flex flex-col justify-center items-center my-4"
    >
        <InputCard client:load />
    </section>
    <section id="todo">
        <Divider text={'Incomplete Habits'} />
        <CardList data={data} filter={false} client:load />
    </section>
    <section id="done">
        <Divider text={'Complete Habits'} />
        <CardList data={data} filter={true} client:load />
    </section>
</DefaultLayout>
