---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import InputCard from '../components/InputCard';
import Divider from '../components/Divider.astro';
import CardList from '../components/CardList';
---

<DefaultLayout>
    <section
        id="addNew"
        class="w-full flex flex-col justify-center items-center my-4"
    >
        <InputCard client:load />
    </section>
    <section id="todo">
        <Divider text={'Incomplete Habits'} />
        <CardList filter={false} client:load />
    </section>
    <section id="done">
        <Divider text={'Complete Habits'} />
        <CardList filter={true} client:visible />
    </section>
</DefaultLayout>
